@import './variables/fonts';
@import './variables/colors';

.about {
  // Box Model
  padding: 70px 0;

  strong {
    // Typography
    color: $purple;
  }

  @media screen and (max-width: 768px) {
    // Box Model
    padding: 20px 0;
  }
}

.section {

  &__title {
    font-family: $righteous;
    font-size: 32px;
    color: $purple;
    text-transform: uppercase;
  }
}

.footer {

  &__list {
    // Box Model
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin: 10px;
  }

  &__anchor {
    // Typography
    font-size: 14px;
    color: $purple;
  }

  .profile {
    // Typography
    color: $purple;
  }
}
