@import './variables/fonts';
@import './variables/colors';

* {
  // Box Model
  box-sizing: border-box;
}

body {
  // Typography
  font-family: $quattrocento;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;

  // Visual
  background-color: #000;
}

.wrap {
  // Box Model
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  // Box Model
  display: inline-block;
  margin: 8px;

  padding: 16px 24px;

  // Typography
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  // Visual
  border: 1px solid transparent;
  background-color: $purple;
  cursor: pointer;
  transition: all .4s ease-out;

  &:hover {
    // Typography
    color: $purple;

    // Visual
    background-color: #fff;
  }

  &--outline {
    // Typography
    color: $purple;

    // Visual
    border-color: $purple;
    background-color: transparent;

    &:hover {
      // Typography
      color: #fff;

      // Visual
      background-color: $purple;
    }
  }
}

.logo {
  // Box Model
  margin: 0;

  // Typography
  font-family: $righteous;

  a {
    // Typography
    color: $purple;
    text-decoration: none;

    &:hover {
      // Typography
      color: #fff;
    }
  }
}
