@import './variables/fonts';
@import './variables/colors';

* {
  // Box Model
  box-sizing: border-box;
}

body {
  // Box Model
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  @media screen and (max-height: 700px) {
    // Box Model
    align-items: flex-start;
    padding-top: 180px;
  }
}

.square {
  // Box Model
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;

  &__item {
    // Position
    position: relative;

    // Box Model
    width: 120px;
    height: 120px;

    // Visual
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    cursor: pointer;

    &:hover {
      // Visual
      background-color: #eee;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      // Visual
      border-top: 0;
    }

    &:nth-child(3n+1) {
      // Visual
      border-left: 0;
    }

    &:before {
      // Box Model
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &--one,
    &--two {
      // Visual
      pointer-events: none;

      &:before {
        // Visual
        background-repeat: no-repeat;
        background-size: 64px;
        background-position: center;
      }
    }

    &--one {

      &:before {
        // Visual
        background-image: url('../images/marker-x.svg');
        content : '';
      }
    }

    &--two {

      &:before {
        // Visual
        background-image: url('../images/marker-circle.svg');
        content : '';
      }
    }
  }

  &--disabled {
    // Visual
    pointer-events: none;
  }
}

.result {
  // Position
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  // Box Model
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  // Visual
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .85);
  transition: all .4s ease-out;

  &--visible {
    // Visual
    opacity: 1;
    visibility: visible;
  }

  &__content {
    // Typography
    text-align: center;

    img {
      // Box Model
      max-width: 80px;
      height: auto;
    }
  }

  &__message {
    // Box Model
    margin: 30px 0;

    p {
      // Typography
      font-family: $righteous;
      font-size: 32px;
      font-weight: 700;
      color: #fff;
    }
  }
}

.actions {
  // Position
  position: absolute;
  top: 0;
  left: 0;

  // Box Model
  display: flex;
  justify-content: center;
  margin: -8px;
  padding: 24px;
}

.reset {
  // Box Model
  display: inline-block;
  padding: 8px 16px;

  // Typography
  font-size: 12px;
  text-transform: uppercase;

  // Visual
  border: 1px solid #333;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    // Typography
    color: #fff;

    // Visual
    background-color: #333;
  }
}
